
#chart {
height:200px;
width:100%;
}

#bar {
    height:300px;
    width:100%;
   // margin-right:20px;
    }
    
#donut {
    height:300px;
    width:100%;
   // margin-right:20px;
    }
    #combo{
        height:300px;
        width:100%;
       // margin-right:20px;
        }
        #table{
            height:300px;
            width:100%;
           // margin-right:20px;
            }
#guage {
    height:100px;
    width:100%;
    margin-left:70px;
    }

#map {
   
    width:100%;
    
}

.daily-sales {
    border-left: 5px solid #8FB9E1;
  
}
