
#chart {
height:200px;
width:300px;
}

#bar {
    height:300px;
    width:280px;
    margin-right:20px;
    }
#guage {
    height:100px;
    width:210px;
    margin-left:70px;
    }

#map {
   // height: 300px; /* like this */
    width:100%;
    
}

.daily-sales {
    border-left: 5px solid #8FB9E1;
    height:50px;
}
