 <app-sideinfo ></app-sideinfo>
    <div class="card ml-2 mr-2 mt-2">
      <h6 class="card-header with-elements">
        <div class="card-header-title"><i *ngIf="storeinf" class="fas fa-arrow-left" (click)="resetmap()"></i> {{mapheader}}</div>
      </h6>
      <div class="row">
        <div  [ngClass]="{'col-md-12':!storeinf,'col-md-4':storeinf}">
          <div class="card">
            <div #mapWrapper id="map" [ngStyle]="{'height':height+'px'}">    
            </div>
          </div>
        </div>
        <div *ngIf="storeinf" class="col-md-8">
           <div class="row">
             <div class="col-md-3">
              <div class="card mb-4 shadow mt-2">
                <div class="daily-sales ">
                  <div class="align-items-center ml-2">
                      <div class="text-muted">Total Locations</div>  
                    <div class="text-large">{{comploc}}</div>      
             </div>
           </div>
         </div>
         <div class="card mb-4 shadow ">
          <div class="daily-sales">
            <div class="align-items-center ml-2">
                <div class="text-muted">Total Users</div>  
                <div class="text-large">{{compusers}}</div>
            
            </div>
          </div>
        </div>
        <div class="card mb-4 shadow">
          <div class="daily-sales">
            <div class="align-items-center ml-2">
                <div class="text-muted">Daily sales</div>  
                <div class="text-large">{{compsales}}</div>
            
            </div>
          </div>
        </div>
        <div class="card mb-4 shadow">
          <div class="daily-sales">
            <div class="align-items-center ml-2">
                <div class="text-muted">Daily Revenue</div>  
                <div class="text-large">{{formatPrice(compvalsales)}}</div>
            
            </div>
          </div>
        </div>

      </div>
      <div class="col-md-4">
        <div  class="ml-2" id="chart"> 
        </div>
        <div  class="text-center align-items-center" id="guage"> 
        </div>
      </div>
      <div class="col-md-4">
        <div id="bar">

        </div>
      </div>
   
    </div>
        </div>
      </div>
      </div>

      <div class="row">
          <div class="col-md-4">
            <div class="card mb-4 mt-2 ml-2">
              <div id="donut"></div>
            </div>
          </div>
          <div class="col-md-4">
              <div class="card mb-4 mt-2">
                <div id="combo"></div>
              </div>
            </div>
            <div class="col-md-4">
                <div class="card mb-4 mt-2 ">
                  <div id="table"></div>
                </div>
              </div>
        </div>

  







